html {
   box-sizing: border-box;
   font-family: Roboto;
}
 *, *:after, *:before {
   box-sizing: inherit;
}
.container {
   display: flex;
   max-width: 960px;
   background-color: #eaeaea;
   margin: 20px auto;
   justify-content: space-between;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)
}
.profile {
   position: relative;
   flex-basis: 36.5%;
   background-color: #39383a;
   color: #ababab;
}
.profile-photo {
   display: flex;
   justify-content: center;
   position: relative;
   /* height: 305px;
   background-image:url('../img/CV3.png');
   background-position: 50% 6%; */
   /* background-repeat: no-repeat; */

   /* border: 3px solid #fff; */
   margin: 0 40px;
   margin-top: 40px;
   /* border-radius: 50%; */
   
}
.profile:before {
   content: '';
   width: 100%;
   height: 10%;
   background-color: #0099cc;
   display: block;
   position: absolute;
}
.profile-photo-photo {
   position: relative;
   width: 80%;
   border-radius: 50%;
   border: 3px solid #0099cc
}
.profile-info {
   padding: 40px 30px 40px;
}
.profile-text {
   font-family: Roboto;
   color: #ababab;
   font-weight: 300;
   line-height: 24px;
   font-size: 13.4px;
   margin-bottom: 0;
}
.heading {
   font-family: "Open Sans";
   margin: 0;
   padding-bottom: 18px;
   text-transform: uppercase;
   font-weight: 500;
}
.heading-light {
   font-size: 16px;
   color: #fff;
   border-bottom: 2px dashed #5a5a5a;
}
.contacts {
   margin-bottom: 40px;
}
.contacts-item {
   border-bottom: 2px dashed #5a5a5a;
   padding-bottom: 14px;
   padding-top: 14px;
}
.contacts-title {
   font-family: "Open Sans";
   font-weight: 600;
   color: #fff;
   margin-bottom: 13px;
   font-size: 16px;
}
.contacts-text {
   color: #ababab;
   text-decoration: none;
   padding-left: 30px;
   line-height: 21px;
   font-size: 13px;
   font-family: "Open Sans";
   font-weight: 300;
}
.cert-wrapper {
   display: flex;
   justify-content: center;
   font-size: 14px;
}
.cert-wrapper > p{
   margin: 0;
}
.cert-wrapper a{
   text-decoration: none;
   color: #ababab;
   margin-right: 10px;
}
.cert-wrapper a:last-child{
   margin-right: 0px;
}
address {
   font-style: normal;
}
.fas, .far, .fab {
   margin-right: 10px; 
}
.languages {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 25px;
   margin-bottom: 10px;
}
.language {
   width: 100px;
   height: 100px;
   border: 6px solid #fff; /*#5c5c5c*/
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 15px;
   margin-right: 15px;
}
.language:nth-last-of-type(-n+2) {
   margin-bottom: 0px;
}
.language:nth-last-of-type(n+3) {
   margin-top: 55px;
   
}
.language:nth-last-of-type(n+4) {
   margin-top: 0px;
   /* background-color: #fff; */
}
.language:nth-last-of-type(-2n+2) {
   margin-top: -55px;
   /* background-color: #fff; */
}
.language-text {
   text-transform: uppercase;
   font-size: 11px;
   margin-bottom: 5px;
}
.language-per {
   font-size: 15px;
   font-weight: 600;
}
.resume {
   padding: 25px 30px;
   flex-basis: 61%;
   background-color: #fff;
}
.resume-wrap {
   padding: 36px 56px;
   min-height: 100%;
   border: 1px solid rgba(168, 168, 168, 0.44);
}

.logo {
   display: flex;
   justify-content: center;
   margin-bottom: 38px;
}
.logo-img {
   width: 90px;
   height: 90px;
   border: 1px solid #39383a;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 19px;
   color: #39383a;
   font-family: "Open Sans";
   font-weight: 700;
 /*   letter-spacing: 4px; */
}
.logo-lines {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-left: 17px;
   margin-right: 17px;
}
.logo-line {
   width: 43px;
   height: 2px;
   background-color: #39383a;
   margin-top: 10px;
   margin-bottom: 10px;
}
.logo-lines_left .logo-line:nth-child(2) {
   margin-right: 20px; 
   width: 55px;
}
.logo-lines_right .logo-line:nth-child(2) {
   margin-left: 20px; 
   width: 55px;
}
.about {
   text-align: center;
   border-bottom: 1px solid #e0e0e0;
   padding-bottom: 25px;
}
.name {
   color: #39383a;
   font-family: Roboto;
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 10.75px;
   line-height: 1.5;
   text-transform: uppercase;
   margin-bottom: 15px;
}
.position {
   display: inline-block;
   color: #808080;
   font-family: "Open Sans";
   font-size: 12px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1.72px;
   margin-bottom: 30px;
}
.about-address {
 /*   display: inline-block; */
   color: #39383a;
   font-family: Roboto;
   font-size: 13px;
   font-weight: 400;
   font-style: normal;
   line-height: 20.97px;
   letter-spacing: 0.83px;
   line-height: 1;
   margin-bottom: 8px;
}
.about-contacts {
   font-size: 9px;
}
.about-contacts__mobile {
   display: none;
}
.about-contacts__link {
   color: #777777;
   font-family: Roboto;
   line-height: 20.97px;
   text-decoration: none;
   margin-right: 10px;
   margin-left: 10px;
}

.heading_dark {
   font-size: 16px;
   font-weight: 400;
   line-height: 1;
   border-bottom: 1px solid #e0e0e0;
   margin-bottom: 27px;
}
.heading_dark_first {
   margin-top: 38px;
}
.list {
   list-style: none;
   padding-left: 0;
   /* margin-top: 17px; */
   margin-bottom: 0;
}
.list-item {
   position: relative;
   padding-left: 40px;
   padding-bottom: 20px;
   margin-bottom: 20px;
   border-bottom: 2px dashed #ececec;  ;
}
.list-item__skills {
   margin-top: 19px;
   color: #777777;
   font-family: Roboto;
   font-size: 13px;
   line-height: 1.6;
}
.list-item__title:before {
   content: "";
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background-color: #000;
   position: absolute;
   left: -30px;
   top:2px;
}
.list-item__borderless {
   border: none;
   margin-bottom: 0;
}
.list-item__title {
   position: relative;
   font-size: 14px;
   text-transform: uppercase;
   font-family: "Open Sans";
   color: #39383a;
   line-height: 1;
   margin-bottom: 5px;
}
.list-item__position {
   margin-top: 0px;
   font-size: 14px;
   font-family: "Open Sans";
   color: #39383a;
   line-height: 1;
   margin-bottom: 5px;
}
.list-item__date {
   font-size: 11px;
   text-transform: uppercase;
   font-family: Roboto;
   font-weight: 500;
   color: #39383a;
}
.list-item__text {
   margin-top: 19px;
   color: #777777;
   font-family: Roboto;
   font-size: 12px;
   line-height: 1.5;
}
.heading-skills {
   margin-bottom: 48px;
}
.skills-list {
   list-style: none;
   padding-left: 0;
   
}
.skills-list__item {
   margin-bottom: 30px;
   font-size: 13px;
   display: flex;
   justify-content: space-between;
   font-weight: 700;
   font-family: "Open Sans";
   line-height: 0.5;
}
.skills-list__item:first-child {
   margin-bottom: 44px;
}
.skills-wrapper {
   display: flex;
   flex-direction: column;
   line-height: 1;
}
.skills_under {
   font-size: 9px;
}
.consider {
   font-family: "Open Sans";
   color: #ababab;
   font-size: 9px;
   margin-top: 170px;
}
.level {
   width: 70%;
   height: 8px;
   border: 1px solid #39383a;
   position: relative;
}
/* .level:before {
   position: absolute;
   content: '';
   left: 0;
   top: 0;
   height: 100%;
   background-color: #898989;
}
.level-80:before {
   width: 80%;
}
.level-85:before {
   width: 85%;
}
.level-40:before {
   width: 40%;
} */
.level-svg {
   width: -webkit-fill-available;
   position: absolute;
}
.meter {
   fill: #000;
   stroke-width: 20px;
   stroke-miterlimit: round;
   /* stroke-dasharray: inherit; */
   /* transition: stroke-dashoffset 850ms ease-in-out; */
   /* d: path('M0 10, 220 10'); */
}
.other-skills {
   display: flex;
   justify-content: space-between;
}
@media (max-width: 1024px) {
   .container {
      width: 90%;
   }
}
@media (max-width: 992px) {
   .container {
      flex-direction: column;
      width: 65%;
   }
   .profile-photo {
      margin: 0 auto;
      margin-top: 20px;
   }
   .profile-photo-photo {
      position: relative;
      width: 45%;
      border-radius: 50%;
      border: 3px solid #0099cc
   }
   .profile {
      position: relative;
   }
   .profile:before {
      content: '';
      width: 100%;
      height: 150px;
      background-color: #0099cc;
      display: block;
      position: absolute;
   }
   .profile-photo {
      position: relative;
      z-index: 3;
   }
   .language:nth-last-of-type(n+3) {
      margin-top: 0px;
   }
   .language:nth-last-of-type(-2n+2) {
      margin-top: 0px;
   }
   .consider {
      margin-top: 50px;
      
   }
}
@media (max-width: 940px) {
   
}
@media (max-width: 768px) {
   
   .container {
      width: 80%;
   }
   .resume {
      padding: 13px;
   }
   .resume-wrap {
      padding-left: 20px;
      padding-right: 20px;
   }
   .list-item__date {
      font-size: 12px;
   }
   .list-item__text {
      line-height: 1.4;
   }
   .about-contacts {
      font-size: 11px;
   }
}
@media (max-width: 567px) {
   .
   .logo-img {
      width: 70px;
      height: 70px;
   }
   .logo-lines {
      margin-left: 8px;
      margin-right: 10px;
   }
   .about-contacts__link {
      display: block;
   }
   .about-contacts{
      display: none;
   }
   .about-contacts__mobile{
      display: block;
   }
   .consider {
      /* margin-top: 70px; */
      font-size: 8px;
   }
}
@media (max-width: 480px) {
   .profile:before {
      content: '';
      width: 100%;
      height: 10%;
   }
   .logo {
      display: none;
   }
   .container {
      /* min-width: 320px; */
      width: 100%;
   }
   .name {
      letter-spacing: 5.75px;
   }
   .level {
      width: 60%;
   }
   .list-item__title {
      line-height: 1.4;
   }
}


.progress-ring {
   position: absolute;
}
.progress-ring__circle {
   transform-origin: center;
   transform: rotate(-90deg);
   transition: stroke-dashoffset 0s;
}